<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"  type="text/css" href="/styles/adminPanel.css">
    <link rel="stylesheet"  type="text/css" href="/styles/addNews.css">
    <script src="https://kit.fontawesome.com/abfccd6663.js" crossorigin="anonymous"></script>
</head>
<body>
	<style>
		.responsive-image {
		  max-width: 100%;
		  height: auto;
		}
	  </style>

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminPanel</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/adminPage">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="#">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Add News</span>
				</a>
			</li>
			<li>
				<a href="/Analytics">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Analytics</span>
				</a>
			</li>
			<li>
				<a href="/allNews">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">All News</span>
				</a>
			</li>
			<li>
				<a href="/upcoming">
					<i class='bx bxs-group' ></i>
					<span class="text">Upcoming Posts</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<!-- <a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a> -->
			<a href="#" class="profile">
				<img src="\images\people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1><i class='bx bxs-news'></i>&nbsp;&nbsp;<%= heading %></h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#"><%= heading %></a>
						</li>
					</ul>
				</div>
			</div>
            <br>
            <br>
			<% if (locals.post) { %>
				<form id="newPostForm" method="post" action="/api/posts/<%=post._id%>" enctype="multipart/form-data">
					<div id="drop-area">
						<div class="container">
							<!-- uploads\<%#= post.banner_img %> -->
							<% if (post.banner_img) { %>
								<h3 class="color_change">Previous Banner Image</h3>
								<img src="\uploads\<%= post.banner_img %>" class="responsive-image" alt="Existing Image" width="20%">
							  <% } %>

							<input type="file" id="upload-button" name="banner_img" accept="image/*" />
							<label for="upload-button"><i class="fa-solid fa-upload"></i>&nbsp;Cover Photo <br>(Choose Or Drop Photos)
							</label>
							<div id="error"></div>
							<div id="image-display"></div>
						</div>
					</div>
					<br>
					<label for="caption" class="color_change">Image Caption:</label>
						<input type="text" id="caption" name="caption" value="<%= post.img_caption %>">
						<br>
						<label for="title" class="color_change">Title:</label>
						<input type="text" id="title" name="title" value="<%=post.title %>">
						<br>
						<label for="content" class="color_change">Content:</label>
						<!-- <textarea id="content" name="content" rows="4"></textarea> -->
						<textarea id="newsContent" name="newsContent" rows="12"><%=post.content %></textarea>
						
						 <label for="image" class="color_change">URL:</label>
		
						<input type="text" id="image" name="image"> 

						<label for="image" class="color_change">Images:</label>
		
						<input type="file" id="image" name="image">
				
						<button type="submit">Post</button>
						</form>
				<% }else{ %> 
					<form id="newPostForm" method="post"  action="/api/posts" enctype="multipart/form-data">
						<div id="drop-area">
							<div class="container">
								<input type="file" id="upload-button" name="banner_img" accept="image/*" />
								<label for="upload-button"><i class="fa-solid fa-upload"></i>&nbsp;Cover Photo <br>(Choose Or Drop Photos)
								</label>
								<div id="error"></div>
								<div id="image-display"></div>
							</div>
						</div>
						<br>
						<label for="caption" class="color_change">Image Caption:</label>
							<input type="text" id="caption" name="caption">
							<br>
							<label for="title" class="color_change">Title:</label>
							<input type="text" id="title" name="title">
							<br>
							<label for="content" class="color_change">Content:</label>
							<!-- <textarea id="content" name="content" rows="4"></textarea> -->
							<textarea id="newsContent" name="newsContent" rows="7"></textarea>
							
							<label for="image" class="color_change">URL:</label>
		
							<input type="text" id="image" name="image"> 
	
							<div id="drop-area-other">
								<div class="container">
									<input type="file" id="upload-button-other" name="other_img" multiple accept="image/*" />
									<label for="upload-button-other"><i class="fa-solid fa-upload"></i>&nbsp;Cover Photo <br>(Choose Or Drop Photos)
									</label>
									<div id="error-other"></div>
									<div id="image-display-other"></div>
								</div>
							</div>
							<br>
							<button type="submit">Post</button>
							</form>
					<% } %>
			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="/assets/js/admin.js"></script>
    <script src="/assets/js/addNews.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const switchMode = document.getElementById('switch-mode');
			
			// Retrieve the user's preference from local storage
			const isDarkMode = localStorage.getItem('darkMode') === 'true';
		  
			// Set the switch to the correct position
			switchMode.checked = isDarkMode;
		  
			// Update the text color based on the user's preference
			updateTextColor(isDarkMode);
		  
			// Add an event listener to handle mode changes
			switchMode.addEventListener('change', function () {
			  const isDarkMode = switchMode.checked;
			  updateTextColor(isDarkMode);
		  
			  // Save the user's preference to local storage
			  localStorage.setItem('darkMode', isDarkMode.toString());
			});
		  
			function updateTextColor(isDarkMode) {
			  const elements = document.querySelectorAll('.content,.color_change');
			  const textColor = isDarkMode ? 'white' : 'black';
		  
			  elements.forEach(element => {
				element.style.color = textColor;
			  });
			}
		  });
		  
	</script>
</body>
</html>